---
import { Image } from 'astro:assets';
// Image imports
import frontGarden2 from '../assets/front-garden-2.jpg';
import livingRoom1 from '../assets/living-room-1.jpg';
import kitchen1 from '../assets/kitchen-1.jpg';
import fireplace from '../assets/fireplace.jpg';
import mainBedroom1 from '../assets/main-bedroom-1.jpg';
import secondBedroom1 from '../assets/second-bedroom-1.jpg';
import hallway from '../assets/hallway.jpg';
import enSuiteBathroom1 from '../assets/en-suite-bathroom-1.jpg';
import separateBathroom1 from '../assets/separate-bathroom-1.jpg';
import livingRoom3 from '../assets/living-room-3.jpeg';
import livingRoom4 from '../assets/living-room-4.jpeg';
---

<div>
  <Image
    src={frontGarden2}
    alt="Private garden and outdoor space"
    class="object-cover w-full h-full"
  />
</div>
