---
import { Image } from 'astro:assets';

export interface Props {
  source: ImageMetadata;
  alt_text: string;
}

const { source, alt_text } = Astro.props;
---

<div data-carousel-item class="duration-700 ease-in-out">
  <Image src={source} alt={alt_text} class="object-cover w-full h-full" />
</div>
