<footer></footer>
<div
  class="footer-dark px-4 flex flex-col md:flex-row items-center justify-between text-white text-sm"
>
  <div>
    <a href="mailto:info@clarkia.co.za" class="footer-link"
      >Contact: info@clarkia.co.za</a
    >
  </div>
  <div class="mt-2 md:mt-0">
    &copy; 2005 Newlands Cottages. All rights reserved.
  </div>
</div>
