---
import '../styles/global.css';
import HeaderComponent from '../components/header.astro';
import FooterComponent from '../components/footer.astro';
export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
    ></script>
  </head>
  <body class="flex flex-col min-h-screen bg-white text-gray-900">
    <header>
      <HeaderComponent />
    </header>
    <main class="flex-1">
      <slot />
    </main>
    <footer>
      <FooterComponent />
    </footer>
  </body>
</html>
